<!DOCTYPE html>
<html lang="en">


<head>

<script type = "text/javascript" src = "Accounts.js"></script>
</head>


<body>

<h1>Account Data</h1>

<table>
    <tr>
        <th><u><h1>Account ID</h1><u></th>
        <th><u><h1>Name</h1><u></th>
        <th><u><h1>Balance</h1><u></th>
        <th><u><h1>Currency</h1><u></th>
        <th><u><h1>Account Type</h1><u></th>

    </tr>
    {{#users}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>£{{balance}}</td>
        <td>{{currency}}</td>
        <td>{{accountType}}</td>
    </tr>
    {{/users}}
</table>

</body>
</html>