<!DOCTYPE html>
<html lang="en">


<head>
    <style>
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}
</style>



</head>


<body>

<h1>Account Data</h1>

<input type="text" id="searchInput" placeholder="Search...">
<table id="myTable">
    <thead>
    <tr>
        <th><u><h1>Account ID</h1></u></th>
        <th><u><h1>Name</h1></u></th>
        <th><u><h1>Balance</h1></u></th>
        <th><u><h1>Currency</h1></u></th>
        <th><u><h1>Account Type</h1></u></th>

    </tr>
    </thead>
    {{#users}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{balance}}</td>
        <td>{{currency}}</td>
        <td>{{accountType}}</td>
    </tr>
    {{/users}}
</table>
<div id="pagination"></div>
</body>

<script>
const table = document.getElementById("myTable");
const searchInput = document.getElementById("searchInput");
const pagination = document.getElementById("pagination");

let currentPage = 1;
let rowsPerPage = 20;

function displayTableRows() {
  let rows = table.rows;
  let totalRows = rows.length;
  let startIndex = (currentPage - 1) * rowsPerPage;
  let endIndex = startIndex + rowsPerPage;

  for (let i = 0; i < totalRows; i++) {
    if (i < startIndex || i >= endIndex) {
      rows[i].style.display = "none";
    } else {
      rows[i].style.display = "";
    }
  }
}

function generatePaginationLinks() {
  let totalRows = table.rows.length;
  let totalPages = Math.ceil(totalRows / rowsPerPage);
  let links = "";

  for (let i = 1; i <= totalPages; i++) {
    if (i === currentPage) {
      links += `<span>${i}</span>`;
    } else {
      links += `<a href="#" onclick="changePage(${i})">${i}</a>`;
    }
  }

  pagination.innerHTML = links;
}

function changePage(page) {
  currentPage = page;
  displayTableRows();
  generatePaginationLinks();
}

function searchTable() {
  let searchText = searchInput.value.toLowerCase();
  let rows = table.rows;

  for (let i = 1; i < rows.length; i++) {
    let rowText = rows[i].textContent.toLowerCase();

    if (rowText.includes(searchText)) {
      rows[i].style.display = "";
    } else {
      rows[i].style.display = "none";
    }
  }

  currentPage = 1;
  generatePaginationLinks();
}

displayTableRows();
generatePaginationLinks();

searchInput.addEventListener("input", searchTable);



    </script>

</html>

